@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap');
@font-face { font-family: 'ThecircleM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/ThecircleM.woff') format('woff'); font-weight: normal; font-style: normal; } 
@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.sizing {
    padding: 0 30px;
    box-sizing: border-box;
}

.wrap {
    width: 100%;
    min-width: 460px; /* gnb width - 460, 전체기준으로 줄였을때 내용이 내려가지 않고 덮어졌으면해서 최소 가로값 잡음*/
    overflow: hidden;
    position: relative;
}

.haeder {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 1100px;
    z-index:999;
}

.logo img {
    float: left;
    margin-top: 30px;
    width: 97px;
}

.gnb {
    float: right;
    margin-top: 31px;
    li:first-child {
        margin-left: 0;
    }
    li {
        float: left;
        margin-left: 20px;
        a{
            font-size: 13px;
            line-height: 1.3em;
            letter-spacing: -0.5px;
            color:#fff;
        }
    }
}

.mainWrap {
    width: 100%;
    height: 667px; /* 이미지 배경으로 때리려니...높이값이 필요해서.... */
    background: url(../images/bg_img.png) no-repeat center; /* 경로가 이해가 안댐, ../ */
    background-size: cover;
    position: relative;
    .dim {
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
    }
    .gra {
        width: 100%;
        height: 100%;
        background: linear-gradient(179deg, #000 -29%, rgba(0, 0, 0, 0) 50%);
        opacity: 0.7;
  
    }
    .titWrap {
        width:100%;
        max-width: 1100px;
        position: absolute;
        top: 280px;
        left: 50%;
        transform: translate(-50%);
        p {
            text-align: center;
        }
        .tit {
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
            font-family: yg-jalnan;
            font-size: 44px;
            letter-spacing: -0.4px;
            color: #fff;
            margin-bottom: 30px;
        }
        .txt {
            text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
            font-size: 22px;
            font-weight: 300;
            letter-spacing: -0.3px;
            color: #fff;
        }
        .str {
            font-weight: 400;
        }
    }
}

.serviceWrap {
    width:100%;
    background: #8c2bff;
}
.serviceList {
    width: 100%;
    max-width:1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    padding: 60px 0;
    .serviceItem {
        text-align: center;
        .circle {
            background: #ffd20a;
            width: 90px;
            height: 90px;
            border-radius: 90px;
            display: inline-block;
            img {
                width:44px;
                height:40px;
                padding: 25px 0; /* 브라우저마다 vertical-aglin: middle 위치가 상이해서 바꿈 */
            }
        }
        p {
            text-align: center;
        }
        .serviceListTit {
            font-family: ThecircleM;
            font-size: 21px; /* 가독성이 떨어져 키워봄 */
            letter-spacing: -0.4px;
            color: #fff;
            margin:20px 0;
        }
        .seviceListTxt {
            font-size: 13px; /* 가독성이 떨어져 키워봄 */
            line-height: 1.83em;
            letter-spacing: -0.5px;
            color: #ead8ff;
            margin: 0 47px;
        }
    }
}

.listContainer {
    max-width:1100px;
    margin: 0 auto;
    .tContainer {
        position: relative;
        padding: 120px 0 30px 0;
    }
    h1 {
        font-family: ThecircleM;
        font-size: 28px;
        letter-spacing: -0.35px;
        color: #1c1822;
        position: absolute;
        left: 0;
        bottom: 30px;
    }
    .btnPaging {
        position: absolute;
        right: 0;
        bottom: 30px;
        .slickPrev {
            display: block; /* inline 속성 공백 제거를 위해 block으로 변경 */
            float: left;
            width: 30px;
            height: 30px;
            background: url(../images/btn-prev_activate@2x.png) no-repeat center, #fff;
            background-size: 5px;
            border: 1px solid #f1f1f1;
            border-radius: 30px;
        }
        .slickNext {
            display: block;
            float: left;
            width: 30px;
            height: 30px;
            background: url(../images/btn-next_activate@2x.png) no-repeat center, #fff;
            background-size: 5px;
            border: 1px solid #f1f1f1;
            border-radius: 30px;
            margin-left: 5px;
        }
        .disPrev {
            background: url(../images/btn-prev_disabled@2x.png) no-repeat center, #fff;
            background-size: 5px;
            pointer-events: none;
            cursor: default;
        }
        .disNext {
            background: url(../images/btn-Next_disabled@2x.png) no-repeat center, #fff;
            background-size: 5px;
            pointer-events: none;
            cursor: default;
        }
    }
    ul {
        overflow: hidden;
    }
    li:first-child {
        margin-left: 0;
    }
    li::after {
        clear: both;
        content: "";
    }
    li {
        width: calc((100% - 90px) / 4);
        background: #fff;
        box-sizing: border-box;
        border: 1px solid #d8d8d8;
        cursor: pointer;
        float: left;
        vertical-align: top;
        margin-left: 2.99em; /* IE에서 브라우저 사이즈 줄일때 마지막 박스가 내려가는 현상이 있어서 단위바꿔버림 */
    }
    .imgBox {
        width: 100%;
        overflow: hidden;
        img {
            width:100%;
            object-fit: cover; /* IE에서 왜 빈공간이 보이는지 모르겠넹... img는 inline속성이어서 block처리를 하니 해결*/
            display: block;
        }
    }
    .itemInner {
        padding: 15px;
        border-top: 1px solid #d8d8d8;
    }
    .playItemTit {
        font-size: 16px; /* 가독성이 떨어져서 폰트 바꾸고 사이즈 조절 */
        font-weight: 600;
        letter-spacing: -0.4px;
        line-height: 1.5em;
        color: #1c1822;
        margin-bottom: 5px;
        word-wrap: break-word;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;;
    }
    .playItemTxt {
        font-size: 12px; /* 가독성이 떨어져 키워봄 */
        font-weight: 300;
        letter-spacing: -0.5px;
        line-height: 1.5em;
        color: #363636;
        word-wrap: break-word;
        white-space: normal; /* 두줄일때 */
        overflow: hidden;
        text-overflow: ellipsis;
        height: 3em;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}